<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="cart-page">
            <% if (products.length > 0) { %>
                <ul class="cart-list">
                    <% products.forEach(p => { %>
                        <li class="cart-item">
                            <h1 class="cart-item__title"><%= p.title %></h1>
                            <h2 class="cart-item__quantity">Quantity: <%= p.cartItem.quantity %></h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.id %>" name="productId">
                                <button class="delete-btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <div class="centered">
                  <form action="/create-order" method="POST">
                      <button type="submit" class="btn">Order Now!</button>
                  </form>
              </div>
            <% } else { %>
                <h1 class="empty-cart-message">No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>
